extends layout

block content
  .container-fluid 
    .card.body-card
      h1 VTI Interactive
      h3 Invest with a margin of safety, emphasis on safety
      .card-body
        h3 #{ticker}
        h4 #{shareprice} => VTI: #{vti}
          .container-fluid.py-4
            .row
              .col-lg-4.col-md-4.col-sm-12
                .card#metric-card
                  h5 Price to Sales
                  p #{ps}
              .col-lg-4.col-md-4.col-sm-12
                .card#metric-card
                  h5 Price to Earnings
                  p #{pe}
              .col-lg-4.col-md-4.col-sm-12
                .card#metric-card
                  h5 Price to Cash
                  p #{pc}
            .row
              .col-lg-4.col-md-4.col-sm-12
                .card#metric-card
                  h5 Price to Book
                  p #{pb}
              .col-lg-4.col-md-4.col-sm-12
                .card#metric-card
                  h5 Debt to Equity
                  p #{de}
              .col-lg-4.col-md-4.col-sm-12
                .card#metric-card
                  h5 Earnings Growth
                  p #{eg}
            .row
              .col-lg-4.col-md-4.col-sm-12
                .card#metric-card
                  h5 Payout Ratio
                  p #{pr}
              .col-lg-4.col-md-4.col-sm-12
                .card#metric-card
                  h5 Dividend Yield
                  p #{y}
              .col-lg-4.col-md-4.col-sm-12
                .card#metric-card
                  h5 EPS
                  p #{eps}
          a(href="/")
            button.btn.btn-warning Try again